.title{
    text-align: center;
    box-sizing: border-box;
    padding-block: 3rem;
}

.seleccionarCiudad{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
    margin-top: 4rem;
}